.menu {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
    .menu:hover {
        cursor: pointer;
        background-color: rgba(255,255,255,0.2);
        text-decoration: none;
    }
.navbar {
    z-index:999;
    margin-top:65px;
    color:red;
    border:none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
/*Верхняя навигация*/
#Main_Navbar {
    background-color:white;
    z-index:1001;
    position: fixed;
    height:65px;
    width:100%;
    top: 0px;
}
.container{
    height:100%;
}
#Main_Navbar a {
    font-size: 16px;
    font-weight:bold;
    float: right;
    text-align: center;
    display: inline-block;
    height: 100%;
    width: 120px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
    #Main_Navbar div {
        margin-top: 65px;
        margin-right: -240px;
        float: right;
        display: none;
        border: none;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        height: 51px;
        width: auto;
        background-color: rgba(255,255,255,0.5);
    }
    #Main_Navbar div a {
        border-right:1px solid black;
        border-left:1px solid black;
        padding-top:15px;
        text-align:center;
        height: 51px;
        width: 180px;
        float: left;
        font-size:16px;
    }
    #Main_Navbar a:hover {
        background-color: rgba(34,34,34,0.2);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
#Main_Navbar img {
    display: table;
    vertical-align: middle;
    border-radius:100px;
    width: 42px;
    height: 42px;
    margin-left: 38px;
    margin-top:3px;
}

/*Боковое меню*/
#menu {
    z-index: 998;
    position: fixed;
    left: -352px;
    width: 250px;
    height: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#menu.menu-open {
        left:-60px;
}
#renderBody {
    margin-left: 56.2px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#renderBody.renderBody-open {
    margin-left: 294px;
}
#menuContent {
    background-color: #222;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    position: absolute;
    left: 60px;
    width: 294px;
    height: 100%;
    margin-top: 66px;
}

#menu a {
    height: 50px;
    color: #9d9d9d;
    display: block;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    padding-left: 20px;
}

    #menu a:hover {
        color: white;
        background-color: rgba(255,255,255,0.2);
        border-bottom: 1px outset #c0c0c0;
        border-top: 1px outset #c0c0c0;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    }
/*Авторизация*/
.btn-default {
    font-size: 16px;
    font-weight:bold;
    width: 100%;
    height: 50px;
}
/*Администратор*/
.AdminButtons {
    font-size: 15px;
    font-weight: bold;
    float: left;
    text-align: center;
    display: inline-block;
    height: 35px;
    width: 200px;
    padding-top:7px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
    .AdminButtons:hover {
        background-color: rgba(34,34,34,0.2);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        color:black;
    }
#DataBase td{
    text-align:center;
}
#DataBase th {
    text-align: center;
}
/*Модальное окно*/
.Window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: black;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

    .Window:target {
        display: block;
        pointer-events: auto;
    }

    .Window > div {
        width: 700px;
        height: 470px;
        position: relative;
        margin: 7% auto;
        padding: 20px;
        border-radius: 5px;
        background: white;
        box-shadow: 0px 0px 20px 2px;
    }

.close {
    background: black;
    color: white;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    .close:hover {
        background: red;
    }
#update-message {
    display: inline-block;
    opacity:0;
    position: relative;
    float: right;
    right: 10px;
    width: 300px;
    height: 50px;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    transition: opacity 400ms ease-in;
}
.showMessage {
    animation : show 2s cubic-bezier(1, 0, 1, 1);
}
@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}